---
import ScoreCard from "./ScoreCard.astro";

interface Props {
  picks: Array<any>,
  price: number,
  scores: Array<any>,
  payouts: Array<number>
}

let { picks, price, scores, payouts } = Astro.props;
const purchased = picks?.filter( p => p.paid).length;

payouts = payouts.map( (payout:number) => (payout * ( purchased * price )) );
---
<div class="container min-w-[500px] flex flex-row flex-auto max-w-[900px] justify-items-center">
  { payouts.map( (payout,i) =>  {
    let score = scores?.find( s => s.quarter === i+1 );
    let pick = picks?.find( p => p.won === i+1 )
    return <ScoreCard q={i+1} payout={ payout } afc={score?.afc} nfc={score?.nfc} winner={pick} /> 
  })}
</div>