---
import ScoreCard from "./ScoreCard.astro";
---
<div class="container flex flex-row flex-auto max-w-[900px] justify-items-center">
  <ScoreCard q={1} payout={100} afc={10} nfc={17} />
  <ScoreCard q={2} payout={100} afc={10} nfc={17} />
  <ScoreCard q={3} payout={100} afc={10} nfc={17} />
  <ScoreCard q={4} payout={100} afc={10} nfc={17} display="Final" />
</div>