---
import ScoreCard from "./ScoreCard.astro";
import { GET as GetScores } from '../pages/api/scores/index.ts';

interface Props {
  purchased: number,
  price: number
}

const { purchased, price } = Astro.props;

let scores = [];
scores = (await (await GetScores(Astro)).json()).documents;
let payouts = [0.1, 0.2, 0.3, 0.4].map( (payout:number) => (payout * ( purchased * price )) );
---
<div class="container min-w-[500px] flex flex-row flex-auto max-w-[900px] justify-items-center">
  { payouts.map( (payout,i) =>  {
    let score = scores?.find( s => s.quarter === i+1 );
    return <ScoreCard q={i+1} payout={ payout } afc={score?.afc} nfc={score?.nfc} /> 
  })}
</div>